:host {
  display: inline-block;
  text-align: center;
  width: 42px;
  height: 48px;
  text-shadow:
    0 2px 2px white,
    0 1px 0px white;
  cursor: pointer;
  font-family: "Pixelated MS Sans Serif";
}

:host.disabled {
  filter: grayscale(1);
  cursor: not-allowed;

  span {
    pointer-events: none;
  }
}

button {
  all: unset;
}
