<nav class="title-bar" data-tauri-drag-region>
  <h1 class="title-bar-text cursor-default" data-tauri-drag-region>
    {{ windowTitle() }}
  </h1>
  <div class="title-bar-controls">
    <!-- Icky -->
    @if (showMinimize()) {
    <button aria-label="Minimize" (click)="windowService.minimize()"></button>
    } @if (windowService.isMaximized() | async) {
    <button aria-label="Restore" (click)="windowService.restore()"></button>
    } @else { @if (showMaximize()) {
    <button aria-label="Maximize" (click)="windowService.maximize()"></button>
    } } @if (showHelp()) {
    <button aria-label="Help" (click)="help.emit()"></button>
    }
    <button aria-label="Close" (click)="onClose()"></button>
  </div>
</nav>
